
.field{
    display: flex;
    margin-bottom: 2vw;
    justify-content: space-around;
}
.formm {
    margin-top: 9vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white I !important;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.06)
    );
    text-align:center;
    border-radius: 1.2vw 2vw;
    padding: 6.5rem;
    max-width: 55vw;
    margin: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px !important;
    /*background-clip: padding-box;*/
    backdrop-filter: blur(20px);
    
    
    
}

.field {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    /*background-clip: padding-box;*/
    border-radius: 10px !important;
    height: 2.5rem;
    min-width: 30vw;
    max-width: 100%;
    margin-bottom: 7vh;
}
.field input{
    background-color: transparent;
    border: none;
    width: 100%;
    color: #fff;
    outline: none;
    padding-left: 0.625rem;
}

.field>div {
    margin-bottom:40px;
}
.formm h1 {
    margin-bottom: 4vw;
    color:darkslategrey;
}
.field label{
    display: inline-block;
    padding: 0 10px;
    /*background-color: #001724;*/
    color: #fff;;
    font-size: 0.9rem;
    position: absolute;
    top: -10px;
    left: 10px;
    font-weight: bold;

    
  
    
} 
.field:hover label{
    transform: translate(0,-4px);
}
.formm button {
    min-width: 30vw;
    background: linear-gradient(65.4deg, rgb(56, 248, 249) -9.1%, rgb(213, 141, 240) 40%, rgb(249, 56, 152) 111.1%);
    border-radius: 5px;
    border-color: transparent;
    color: #fff;
    font-weight: bold;
    border-radius: 7px;
}
.formm div h1{
    margin-bottom: 3vw;
}
form button{
    padding:1.2vw 4vh;
    width:50%;
}


img{
    width: 60px;
    height:60px;
    margin: 10px 20px;
}
i{
    margin-top: 10px;
}
.formm div {
    gap: 60px;
}
form .iconn {
    margin-bottom: 20px;
    transform: translateX(92%);
    margin-bottom:50px ;
}
