body {
    	background: #050724; 
 background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%) !important;
}
.mainn {
  	background: #050724; 
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%) !important;
    min-height: 100vh;
}
*{
  font-family: 'Poppins' 'sans serif';
}
.cirlce1 {
    height: 20rem;
    width: 20rem;
    position: absolute;
    top: 45%;
    right: 60%;
  }

.cirlce2 {
    height: 20rem;
    width: 20rem;
    position: absolute;
    top: -5%;
    right: 15%;
  }

